html{
    background-color: hsl(47, 88%, 63%);
    
}
body{
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    justify-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}
.card{
    margin-bottom: 50px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin: 50px;
    display: grid;
    padding: 15px;
    box-shadow: 0px 0px 0 rgba(0, 0, 0, 0, 8);
    border-right: 10px solid hsl(0, 0%, 7%);
    border-bottom: 10px solid hsl(0, 0%, 7%);
    border-left: 2px solid hsl(0, 0%, 7%);
    border-top: 2px solid hsl(0, 0%, 7%);

}
.card img{
    border-radius: 10px;
}
.card button{
    background-color: hsl(47, 88%, 63%);
    font-size: small;
    border: none;
    padding: 5px;
    text-align: left;
    padding-left: 10px;
    width: 70px;
    border-radius: 3px;
    font-weight: bold;
}
.P1{
    margin-top: 15px;
    font-size: small;
    font-weight: 500;
}
h1{
    margin-top: 5px;
}
.P2{
    margin-top: 1px;
    font-size: 16px;
    font-weight: 200;
    color: hsl(0, 0%, 42%);
    line-height: 1.4;
}
.avatar{
    display: flex;
    align-items: center;
    margin-top: -5px;
}
.avatar img{
    width: 30px;
    height: 30px;
}
.avatar p{
    margin-left: 10px;
    font-weight: 700;
    font-size: small;
}